{% extends "index.html" %}

{% block content %}

<div class="container">
<h1>What is DBpedia Archivo?</h1>
<p>
    DBpedia Archivo is an online interface and augmented archive for all kinds of vocabularies. It automatically crawls for new ontologies, updates the already enlisted ontologies regularly and performs some useful tests to check the fitness of the vocabulary for the semantic web. 
</p>

<h2>Archivo's mission</h2>
<p>Archivo's mission is to improve <b>FAIR</b>ness (findability, accessibility, interoperability, and reusability) of all available ontologies on the Semantic Web. Archivo is not a guideline, it is fully automated, machine-readable and enforces interoperability with its star rating. Ontology developers can implement against Archivo until they reach more stars. Ontology users can better find, access and re-use ontologies.     
</p>
<p>DBpedia Archivo was created as a scientific proof-of-concept and is currently being developed into a full platform. </p>

<h2>Community Contact</h2>

<ul>
	<li>For general feedback, please use the Github Issue Tracker or http://forum.dbpedia.org</li>
	<li>For academic discussion, please contact the authors of the Achivo Paper, see below</li>
</ul>


<h2>Collaboration and business inquiries</h2>
DBpedia Archivo was developed at the Institute for Applied Informatics (InfAI) 

	

<h2>Scientific Publication</h2>

TODO embed semantics video

For a more specific explanation check out the <a title="DBpedia Archivo Paper" href="https://svn.aksw.org/papers/2020/semantics_archivo/public.pdf" target="_blank">DBpedia Archivo Paper</a>.



TODO bibtex
@inproceedings{freydbpedia,
  author = {Frey, Johannes and Streitmatter, Denis and G{\"o}tz, Fabian and Hellmann, Sebastian and Arndt, Natanael},
  booktitle = {Semantic Systems. The Power of AI and Knowledge Graphs},
  publisher = {Springer},
  series = {Lecture Notes in Computer Science},
  title = {DBpedia Archivo - A Web-Scale Interface for Ontology Archiving under Consumer-oriented Aspects},
  url = {https://svn.aksw.org/papers/2020/semantics_archivo/public.pdf},
  volume = 16,
  year = 2020
}


</div>
{% endblock %}
