{% extends "index.html" %}

{% block content %}
<div class="container">
    <p>
    <h2>Add a new ontology to Archivo</h2>

    Archivo retrieves ontologies exclusively from the web using their ontology URL.
    The main rationale here is that we implemented the most common and standardized ways to access Ontologies
    programmatically following Jon Postel: "Be conservative in what you do, be liberal in what you accept from others".
    This means, we already allow some irregularities and heterogeneity, when parsing the ontologies from the web. Then
    again, we only do so up to a certain point, i.e. there is only so much, that you can patch in good faith.
    <br><br><b>If DBpediaArchivo can not process it in an automatic and deterministic manner,it is likely infeasible to
        be processed by others.</b><br><br>

    <h3>Ontology Indexing</h3>
    If Archivo accepts the added ontology, it will be crawled every 8 hours and added to the persistent Ontology
    Archive.
    <br>
    <br>
    <h3>Archivo Requirements</h3>
    <ol>
        <li>The URL must be accessible and the RDF content of the ontology must be reachable via content negotiation
            from there in any of these formats: RDF+XML, N-Triples, Turtle</li>
        <li>The URI defined in the a owl:Ontology (or skos:ConceptScheme) triple must be the same as the one provided
            here. If thats not the case Archivo tries to parse the new URI</li>
    </ol>

    Paste the URL of an OWL ontology here, Archivo will download and parse it and if this succeeds include it in its
    index for daily crawling:
    </p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.suggestUrl(size=100) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if process_steps %}
    <div class="container">
        <div id="accordion">
            {% for step in process_steps %}
            <div class="card">
                <div class="card-header" id="step{{ loop.index }}" style="background:{% if step.status %}rgb(107, 245, 61){% else %}rgb(255, 112, 77){% endif %};">
                    <h4 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ loop.index }}"
                            aria-expanded="false" aria-controls="collapse{{ loop.index }}" style="font-size: large; color: black;">
                            {{ step.step }}
                        </button>
                    </h4>
                </div>

                <div id="collapse{{ loop.index }}" class="collapse show" aria-labelledby="step{{ loop.index }}"
                    data-parent="#accordion">
                    <div class="card-body">
                        {{ step.message }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}