{% extends "index.html" %}

{% block content %}

<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
  <div class="container">
    <br>
    <h2>Frequently Asked Questions </h2>
    <p>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="about-heading">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#about"
              aria-expanded="true" aria-controls="about-collapse">
              What is DBpedia Archivo?
            </a>
          </h3>
        </div>
        <div id="about" class="panel-collapse collapse" role="tabpanel" aria-labelledby="about-heading">
          <div class="panel-body px-3 mb-4">
            <p>
              DBpedia Archivo is an online interface and augmented archive for all kinds of vocabularies. It
              automatically crawls for new ontologies, updates the already enlisted ontologies regularly and performs
              some useful tests to check the fitness of the vocabulary for the semantic web.

              The ontologies and all additional data, are deployed on the <a title="DBpedia Databus"
                href="https://databus.dbpedia.org/ontologies/">DBpedia Databus</a> for easy access, the webservice
              provides some useful help for evaluation and usage. For a more specific explanation check out the <a
                title="DBpedia Archivo Paper" href="https://svn.aksw.org/papers/2020/semantics_archivo/public.pdf"
                target="_blank">DBpedia Archivo Paper</a>.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="stars-heading">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#stars"
              aria-expanded="true" aria-controls="stars-collapse">
              What are the Archivo Stars?
            </a>
          </h3>
        </div>
        <div id="stars" class="panel-collapse collapse" role="tabpanel" aria-labelledby="stars-heading">
          <div class="panel-body px-3 mb-4">
            <p>Archivo provides a basic star-rating (not to be confused with the 5 stars of linked data) for FAIRer ontologies.
				Furthermore, Archivo allows to add more specialized and application-specific tests. 
				The baseline stars are explained on the <a href="/list">main page</a> and in more detail on the <a href="/rating">rating page</a> including debugging help.  
            </p>
          </div>
        </div>
      </div>
      
       <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="uptime-heading">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#uptime"
              aria-expanded="true" aria-controls="stars-collapse">
              Does Archivo measure uptime of my ontology?
            </a>
          </h3>
        </div>
        <div id="uptime" class="panel-collapse collapse" role="tabpanel" aria-labelledby="uptime-heading">
          <div class="panel-body px-3 mb-4">
            <p>No! Archivo checks all known ontologies every 8 hours. If a change is discovered, Archivo will update. If the ontology is down, nothing is done. Users can fallback on Archivo to retrieve the latest available version, if the ontology is down. 
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="access-heading">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#access"
              aria-expanded="true" aria-controls="access-collapse">
              How can I access Archivo's ontologies?
            </a>
          </h3>
        </div>
        <div id="access" class="panel-collapse collapse" role="tabpanel" aria-labelledby="access-heading">
          <div class="panel-body px-3 mb-4">
            <p>
              Generally ontologies on Archivo are accessible in all available formats in the <a href="/list">ontology
                archive</a> as well as on the <a href="/info">ontology view</a>.
              If you want to access a ontology in your program or download huge dumps of ontologies check out the <a
                href="/api">API page</a>.
            </p>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="fixing-heading">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
              href="#fixing-ontologies" aria-expanded="true" aria-controls="access-collapse">
              How can I archive all four Archivo stars?
            </a>
          </h3>
        </div>
        <div id="fixing-ontologies" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fixing-heading">
          <div class="panel-body px-3 mb-4">
            <p>
              On the <a href="/info">ontology view</a> the test results are accessible and generally a click/hover on a
              <span class="x">✘</span> will show the problems with a failed test.<br>
              The <a href="/rating">rating page</a> shows how to archieve four stars, what the limitations of the stars
              are and how these can be improvd further.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="ontology-overview-heading">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
              href="#ontology-overview" aria-expanded="true" aria-controls="ontology-overview-collapse">
              Where can I find the test results for my ontology?
            </a>
          </h3>
        </div>
        <div id="ontology-overview" class="panel-collapse collapse" role="tabpanel"
          aria-labelledby="ontology-overview-heading">
          <div class="panel-body px-3 mb-4">
            <p>
              The test-results of on ontology (and all it's versions) can be accessed at the <a href="/info">info</a>
              page of the ontology.
              <strong>Example:</strong>
            <div class="codeblock">
              <pre>http://archivo.dbpedia.org/info?o=http://datashapes.org/dash</pre>
            </div>
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="dev-stage-heading">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
              href="#dev-stage" aria-expanded="true" aria-controls="dev-stage-collapse">
              What is a develop stage version?
            </a>
          </h3>
        </div>
        <div id="dev-stage" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dev-stage-heading">
          <div class="panel-body px-3 mb-4">
            <h3>What is a develop stage version?</h3>
            <p>
              The develop stage version is an alternative URI (for example to a file on raw.github.com) which represents
              the latest, not offically released version.
              This feature should help debugging ontologies during development and grant consumers access to the latest
              (even if unstable) version of the ontology.
              An example can be seen at the <a href="/info?o=http://dbpedia.org/ontology/">DBpedia ontology</a>.
            </p>
            <h3>How can I add a develop stage version of my ontology to Archivo?</h3>
            <p>A develop stage version can be added to Archivo by adding a triple in the form of
            <pre><code>&ltNIR&gt &lthttps://archivo.dbpedia.org/trackThis&gt &ltURI of dev file&gt .</code></pre>
            to your ontology with NIR being the non information URI of your ontology (the URI which represents your
            ontology) and &ltURI of dev file&gt being an URI of a file (for example from raw.github.com).
            </p>
            <p>This URI also works by requesting RDF content types (currently supported: RDF+XML, Turtle and N-Triples).
              This redirects to a SPARQL-query an the databus regarding all information/files available for this
              ontology</p>
            <p>
              <strong>Example:</strong>
            <pre>curl -L -H "Accept: text/turtle" "http://archivo.dbpedia.org/info?o=http://datashapes.org/dash"</pre>
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="compliance-checks-heading">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
              href="#compliance-checks" aria-expanded="true" aria-controls="compliance-checks-collapse">
              How can I add a compliance check to Archivo?
            </a>
          </h3>
        </div>
        <div id="compliance-checks" class="panel-collapse collapse" role="tabpanel"
          aria-labelledby="compliance-checks-heading">
          <div class="panel-body px-3 mb-4">
            <h3>What is a compliance check?</h3>
            <p>
              Beyond the <a href="/faq#stars">Archivo stars</a> Archivo uses <a href="https://www.w3.org/TR/shacl/">SHACL</a> to measure the quality of ontologies.
              An example for such a test is the <a>LODE conformity test</a>, which checks the compatibility of a vocabulary with the fully automatic <a href="https://essepuntato.it/lode/">LODE service</a>.
            </p>
            <h3>How can i contribute to the compliance checks?</h3>
            <p>
              Just create a pull request at <a href="https://github.com/dbpedia/archivo/tree/master/shacl-library">Archivos SHACL library</a> with your SHACL test, we will review it and add it to Archivos workflow.
            </p>
          </div>
        </div>
      </div>
    </div>
    </p>
    <p><b>Question missing?</b> Ask it at the <a href="https://forum.dbpedia.org/c/services/archivo/42">DBpedia
        Forum</a>.</p>
  </div>
</section>
<script>
  $(document).ready(function () {
    var anchor = window.location.hash;
    $(".collapse").collapse('hide');
    $(anchor).collapse('show');
  });  
</script>
{% endblock %}
