{% extends "index.html" %}

{% block content %}

<h2>Ontology Info Service</h2>
<br>
Select an ontology to get info on its latest version: (TODO The button can go right to it. Also there is a js function that submits it, onchange: https://www.w3schools.com/jsref/event_onchange.asp)
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        <div style="width: 400px">
            {{ form.uris(size=200) }}
        </div>
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% if info.databusLink %}
Ontology URL: 
Archivo URL on Databus: <a title="Databus Release" href={{ info.databusLink }} target="_blank">{{ info.databusLink }}</a><br><br>
Latest release URL (TODO, if possible)
Source: {{ info.source }}<br><br>
Latest retrieval time: {{ info.accessed }}<br><br>
Archivo-Stars: {{ info.stars }} TODO this needs much more info, e.g. you can separate by stars<br><br>
Triples: {{ info.triples }}
Semantic Version: {{ info.semVersion }} TODO this is not helpful unless you post the link<br><br>

{% else %}
{{ info.message }}<br><br>
{% endif %}

<script>
$(document).ready(function() {
    $('#uris').select2({  // init Select2 on form's uris field
        placeholder: "{{ form.uris.label.text }}",
        allowClear: true,
        "width": 500
    });
});
</script>
{% endblock %}
