{% extends "index.html" %} {% block content %}
<div class="container">
    <button type="button" class="btn btn-outline-secondary"data-bs-toggle="collapse" href="#uri-search" role="button"
        aria-expanded="{% if general_info.title %}false{% else %}true{% endif %}" aria-controls="uri-search">
        Select an ontology by URI
</button>
    <div class="collapse {% if not general_info.title %}show{% endif %}" id="uri-search">
        <div class="card card-body">
            <h2>Inspect an archived ontology</h2>
            Select an ontology to see information about all archived versions:
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }} {{ form.csrf_token }}
                <div style="width: 400px">
                    {{ form.uris(**{"onchange":"this.form.submit()"}) }}
                </div>
            </form>
        </div>
    </div>

    <p>

        {% if general_info.title %}

    <p style="color: darkgray;">given title:
    <h2>{{general_info.title}}</h2>

    <p><span style="color: darkgray;">given comment:</span> {{general_info.comment}}
    </p>
    <p>{% if general_info.hasDev %} Switch:
        <a class="btn btn-primary btn-sm" href="/info?o={{general_info.nir.encoded}}">Official</a>
        <a class="btn btn-secondary btn-sm" href="/info?o={{general_info.nir.encoded}}&dev"> Develop </a> {% endif %}
    </p>
    <p>
    <table class="table">
        <thead>
            <tr>
                <th><b>Ontology URI</b></th>
                {% if general_info.sourceURI %}
                <th><b>Source URI</b></th>
                {% endif %}
                <th><b>First Discovery</b></th>
                <th><b>Discovery Source</b></th>
                <th><b>Databus Artifact</b></th>
                <th><b><span
                            title="Tested every eight hours at the diff. Hover for the error">Accessability<sup>?</sup></span></b>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{{general_info.nir.regular}}">{{general_info.nir.regular}}</a></td>
                {% if general_info.sourceURI %}
                <td><a href="{{ general_info.sourceURI }}">{{ general_info.sourceURI }}</a></td>
                {% endif %}
                <td>{{general_info.archivement}}</td>
                <td>{{general_info.source}}</td>
                <td><a href="{{ general_info.databusArtifact }}">Link</a></td>
                <td><span title="{{ general_info.access.message}}">
                        {% if general_info.access.status %}
                        <span title="{{general_info.access.message}}" class="check">✔</span> {% else %}
                        <span title="{{general_info.access.message}}" class="x">✘</span> {% endif %}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    </p>
    <p>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-stars-tab" data-bs-toggle="tab" data-bs-target="#nav-stars"
                type="button" role="tab" aria-controls="nav-stars" aria-selected="true">Snapshots & Star Rating</button>
            <button class="nav-link" id="nav-compliance-tab" data-bs-toggle="tab" data-bs-target="#nav-compliance"
                type="button" role="tab" aria-controls="nav-compliance" aria-selected="false">Application
                Compliance</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-stars" role="tabpanel" aria-labelledby="nav-stars-tab">
            <p>
            <h4>Version Snapshots and Archivo Star Rating</h4>
            Every row in the table stands for one version snapshot of the ontology.<br>
            Archivo ★'s measure basic compliance and interoperability of ontologies. Hover over the headers for
            further
            information.
            </p>
            <p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td colspan="5" style="text-align: center;"></td>
                        <th colspan="2" style="text-align: center;">Archivo Stars Baseline</th>
                        <th colspan="2" style="text-align: center;">Good Practice Stars</th>
                    </tr>
                    <tr>
                        <th><span title="Crawled Snapshots are saved on the Databus. 
The version string gives the data and time and is used for downloading the exact version.
The 📰 symbol leads to the autogenerated documentation.">Snapshot Details<sup>?</sup></span>
                        </th>
                        <th><span title="Triple count">Triples<sup>?</sup></span></th>
                        <th>Download</th>
                        <th><span
                                title="Archivo's axiom-based Semantic Version. Check out the paper for further explaination.">Semantic
                                Version<sup>?</sup></span></th>
                        <th><a href="/faq#stars">Stars</a></th>
                        <th><span title="All of the following criteria have to be fulfilled:
        
        1) the non-information URI resolves to a machine readable format
        Alternativley a machine readable version of the ontology is deterministically discoverable by other common means. 
        
        2) download was successful 
        
        3) uses a common format implemented by Archivo (nt,owl,ttl, etc.)
        
        4) at least one format was found that parses with no or few (negligible) syntactical warnings">
                                ★ Retrieval &amp; Parsing<sup>?</sup>
                            </span></th>
                        <th><span title="Any license statement
        
        1) A proper ontology declaration was found using 'rdf:type owl:Ontology'
        
        2) some form of license could be detected:
           a) any property allowed such as dct:license, xhv:license nor cc:license
           b) any object allowed: xsd:string or xsd:anyURI, license URI (resolvable linked data or web link)
        ">
                                ★ License I<sup>?</sup>
                            </span></th>
                        <th><span title="Homogenized license statement:
                        
        1) dct:license as property
        
        2) object is a proper URI (not xsd:string or xsd:anyURI)
        
        3) not implemented yet: license URL resolves to machine readable format
        ">
                                ★ License II<sup>?</sup>
                            </span></th>
                        <th><span title="Reasoner compliance:
                        
        1) passing the consistency check of implemented reasoners
        
        Current implementation uses Pellet/Stardog
        ">
                                ★ Consistency<sup>?</sup></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for version in versions_info %}
                    <tr>
                        <td>
                            <a href="{{version.version.url}}">{{version.version.label}}</a> {% if version.docuURL %}
                            <a target="_blank" href="{{version.docuURL}}">📰</a> {% endif %}
                        </td>
                        <td>{{version.triples}}</td>
                        <td>
                            {% if general_info.isDev %}
                            <a
                                href="/download?o={{general_info.nir.encoded}}&f=owl&v={{version.version.label}}&dev">owl</a>,
                            <a
                                href="/download?o={{general_info.nir.encoded}}&f=ttl&v={{version.version.label}}&dev">ttl</a>,
                            <a
                                href="/download?o={{general_info.nir.encoded}}&f=nt&v={{version.version.label}}&dev">nt</a>
                            {% else
                            %}
                            <a
                                href="/download?o={{general_info.nir.encoded}}&f=owl&v={{version.version.label}}">owl</a>,
                            <a
                                href="/download?o={{general_info.nir.encoded}}&f=ttl&v={{version.version.label}}">ttl</a>,
                            <a href="/download?o={{general_info.nir.encoded}}&f=nt&v={{version.version.label}}">nt</a>
                            {%
                            endif %}
                        </td>
                        <td>{% if version.semversion.startswith('ERROR') %} <span class="error"
                                title="{{version.semversion}}" class="error">ERROR<sup>?</sup></span> {% else
                            %}{{version.semversion}}{% endif %}
                        </td>
                        <td>{{version.stars}}</td>
                        <td>
                            {% if version.parsing.conforms %}
                            <span class="check">✔</span> {% else %}
                            <span title="{{version.parsing.errors}}" class="x">✘</span> {% endif %}
                        </td>
                        <td>
                            {% if version.minLicense.conforms %}
                            <a href="/shaclVisualisation?r={{version.minLicense.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.minLicense.url}}', 'popup', 'width=900,height=900')"
                                class="check">✔</a> {% else %}
                            <a href="/shaclVisualisation?r={{version.minLicense.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.minLicense.url}}', 'popup', 'width=900,height=900')"
                                class="x">✘</a> {% endif %}
                        </td>
                        <td>
                            {% if version.goodLicense.conforms %}
                            <a href="/shaclVisualisation?r={{version.goodLicense.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.goodLicense.url}}', 'popup', 'width=900,height=900')"
                                class="check">✔</a> {% else %}
                            <a href="/shaclVisualisation?r={{version.goodLicense.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.goodLicense.url}}', 'popup', 'width=900,height=900')"
                                class="x">✘</a> {% endif %}
                        </td>
                        <td>
                            {% if version.consistent.conforms %}
                            <a href="{{version.consistent.url}}" class="check">✔</a> {% else %}
                            <a href="{{version.consistent.url}}" class="x">✘</a> {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </p>
        </div>
        <div class="tab-pane fade" id="nav-compliance" role="tabpanel" aria-labelledby="nav-compliance-tab">
            <p>
            <h4>Application Compliance</h4>
            Beyond the Archivo ★'s, additional compliance checks can be added via Archivo's SHACL library.<br>
            <a href="https://github.com/dbpedia/archivo/tree/master/shacl-library">Add further SHACL
                compliance
                checks</a>
            </p>
            <p>
            <table class="table table-striped" style="width:600px">
                <thead>
                    <tr>
                        <th><span
                                title="This leads to the release on the Databus. The string is the snapshot time andcan be used in the ReST request.">Snapshot</span>
                        </th>
                        <th>&#x1F396;&#xFE0E; <span
                                title="Checks if the ontology can be documented properly using LODE.">LODE
                                Conform</span></th>
                        <th>&#x1F396;&#xFE0E; <span
                                title="Checks if the ontology can be properly displayed by Archivo/on the Databus.">Archivo
                                Conform</span></th>        
                    </tr>
                </thead>
                <tbody>
                    {% for version in versions_info %}
                    <tr>
                        <td>
                            <a href="{{version.version.url}}">{{version.version.label}}</a> {% if version.docuURL %}
                            <a href="{{version.docuURL}}">📰</a> {% endif %}
                        </td>
                        <td>
                            {% if version.lode.severity == 'OK' %}
                            <a href="/shaclVisualisation?r={{version.lode.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.lode.url}}', 'popup', 'width=900,height=900')"
                                class="check">✔</a> {% elif version.lode.severity == 'INFO' %}
                            <a href="/shaclVisualisation?r={{version.lode.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.lode.url}}', 'popup', 'width=900,height=900')"
                                class="check"><strong>!</strong></a> {% elif version.lode.severity
                            == 'WARNING' %}
                            <a href="/shaclVisualisation?r={{version.lode.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.lode.url}}', 'popup', 'width=900,height=900')"
                                class="yellow"><strong>!</strong></a> {% else %}
                            <a href="/shaclVisualisation?r={{version.lode.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.lode.url}}', 'popup', 'width=900,height=900')"
                                class="x">✘</a> {% endif %}
                        </td>
                        <td>
                            {% if version.archivo.severity == 'OK' %}
                            <a href="/shaclVisualisation?r={{version.archivo.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.archivo.url}}', 'popup', 'width=900,height=900')"
                                class="check">✔</a> {% elif version.archivo.severity == 'INFO' %}
                            <a href="/shaclVisualisation?r={{version.archivo.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.archivo.url}}', 'popup', 'width=900,height=900')"
                                class="check"><strong>!</strong></a> {% elif version.archivo.severity
                            == 'WARNING' %}
                            <a href="/shaclVisualisation?r={{version.archivo.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.archivo.url}}', 'popup', 'width=900,height=900')"
                                class="yellow"><strong>!</strong></a> {% elif version.archivo.severity == 'VIOLATION' %}
                            <a href="/shaclVisualisation?r={{version.archivo.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.archivo.url}}', 'popup', 'width=900,height=900')"
                                class="x">✘</a> {% elif version.archivo.severity == 'ERROR' %}
                            <a href="/shaclVisualisation?r={{version.archivo.url}}" target="popup"
                                onclick="window.open('/shaclVisualisation?r={{version.archivo.url}}', 'popup', 'width=900,height=900')"
                                class="x">✘</a> {% else %}
                                -
                                {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </p>
        </div>
    </div>

    </p>
</div>

{% else %} {% if general_info.message %} {{ general_info.message }} {% else %}
<b>Ontology missing?</b> Try adding it at the <a href='/add'>Archivo Suggestion Feature</a>. {% endif %} {% endif %}
<script>
    $(document).ready(function () {
        $('#uris').select2({ // init Select2 on form's uris field
            placeholder: "{{ form.uris.label.text }}",
            allowClear: true,
            "width": 500
        });
    });
</script>
{% endblock %}