{% extends "index.html" %}

{% block content %}
<h2>List all discovered ontologies</h2>
<br>
<!--TODO: if possible include how many stars there are and oter critical info in the table-->
<table
 data-toggle="table"
 data-search="true">
<thead>
<tr>
 <th data-sortable="true" data-field="non-information-uri">Ontology URI</th>
 <th data-sortable="true" data-field="databus-link">Archivo URI</th>
</tr>
</thead>
<tbody>
{% for i in range(0, len) %}
<tr>
    <td><a href=/info?o={{Ontologies[i][0]}}>{{Ontologies[i][0]}}</a></td>
    <td><a href="{{Ontologies[i][1]}}">{{Ontologies[i][1]}}</a></td>
</tr>
{%endfor%}

</tbody>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<style> .float-right { float: left !important; } </style>
{% endblock %}
