{% extends "index.html" %}

{% block content %}
<h2>List of all discovered ontologies</h2>
<br>
<!--TODO: if possible include how many stars there are and oter critical info in the table-->
<p>At this moment Archivo contains <b>{{ontoNumber}}</b> Ontologies.<br>

</p>
<table
 data-toggle="table"
 data-search="true">
<thead>
<tr>
 <th data-sortable="true" data-field="non-information-uri"><span title="Click for more information about this ontology!">Ontology</span></th>
 <th data-sortable="true" data-field="databus-link"><span title="">Databus URI</span></th>
 <th data-sortable="true" data-field="download-latest">Download Latest</th>
 <th data-sortable="true" data-field="availablity">Crawling Status</th>
</tr>
</thead>
<tbody>
{% for i in range(0, len) %}
<tr>
    <td><a href=/info?o={{Ontologies[i][0].uri}}>{{Ontologies[i][0].title}}</a></td>
    <td><a href="{{Ontologies[i][1]}}">{{Ontologies[i][1]}}</a></td>
    <td>
        <a href="{{Ontologies[i][2].owl}}">owl</a>,
        <a href="{{Ontologies[i][2].ttl}}">ttl</a>,
        <a href="{{Ontologies[i][2].nt}}">nt</a>
    </td>
    <td>
        {% if Ontologies[i][3][0] %}
            <span class="check">✔</span>
        {% else %}
            <span title="{{Ontologies[i][3][1]}}" class="x">✘</span>
        {% endif %}
    </td>
</tr>
{%endfor%}

</tbody>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<style> .float-right { float: left !important; } </style>
{% endblock %}
