<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
</head>
<body>
<h3>/data/home/mhofer/cVal/downloads.dbpedia.org/repo/dbpedia/generic/*/2016.10.01/*.ttl.bz2</h3>
<table border="0">
  <tr>
    <td class="font-weight-bold text-right">Timestamp:</td>
    <td class="pl-4">2020-05-04T10:03:19</td>
  </tr>
</table>
<h4>Generic Test Cases</h4>
<table border="0">
  <tr>
    <td class="font-weight-bold text-right">Total constructs:</td>
    <td class="pl-4">13572562857</td>
  </tr>
  <tr>
  <td class="font-weight-bold text-right">Covered constructs:</td>
  <td class="pl-4">13572562502</td>
  </tr>
  <tr>
  <td class="font-weight-bold text-right">Coverage:</td>
  <td class="pl-4">100.0% ( covered / total )</td>
  </tr>
  <tr>
  <td class="font-weight-bold text-right">Constructs with >=1 errors:</td>
  <td class="pl-4">233911615</td>
  </tr>
  <tr>
  <td class="font-weight-bold text-right">Error rate I:</td>
  <td class="pl-4">1.724% ( erroneous constructs / total )</td>
  </tr>
  <tr>
  <td class="font-weight-bold text-right">Total errors:</td>
  <td class="pl-4">238330926</td>
  </tr>
  <tr>
  <td class="font-weight-bold text-right">Error rate II:</td>
  <td class="pl-4">1.756% ( total errors / total constructs )</td>
  </tr>
</table>
<table
 data-toggle="table"
 data-search="true">
<thead>
<tr>
 <th data-sortable="true" data-field="errorrate">Error Rate</th>
 <th data-sortable="true" data-field="prevalence">Prevalence</th>
 <th data-sortable="true" data-field="errors">Errors</th>
 <th data-sortable="true" data-field="approach">Test Approach</th>
 <th data-sortable="true" data-field="trigger">Triggered From</th>
</tr>
</thead>
<tbody>
<tr>
 <td>28.04%</td>
 <td>816859610</td>
 <td>229009107</td>
 <td>rdf:langString is an implicit type and must never be serialized. (prevalence := all typed literals)</td>
 <td>GENERIC typed literal trigger { id: #GENERIC_TYPED_LITERAL_TRIGGER }</td>
</tr>
<tr>
 <td>13.77%</td>
 <td>32104814</td>
 <td>4419311</td>
 <td>matching ^-?([1-9][0-9]{3,}|0[0-9]{3})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?$</td>
 <td>Datatype xsd:date { id: 7d67d9fdc2f5084611fd0962e19d5941 }</td>
</tr>
<tr>
 <td>0.5412%</td>
 <td>816859610</td>
 <td>4420503</td>
 <td>Literal validation with Apache Jena literal parser </td>
 <td>GENERIC typed literal trigger { id: #GENERIC_TYPED_LITERAL_TRIGGER }</td>
</tr>
<tr>
 <td>0.003942%</td>
 <td>12228978594</td>
 <td>482005</td>
 <td>IRI Validation with Apache Jena IRI parser (prevalence:= all IRIs)</td>
 <td>GENERIC iri trigger { id: #GENERIC_IRI_TRIGGER }</td>
</tr>
<tr>
 <td>0%</td>
 <td>391706745</td>
 <td>0</td>
 <td>matching ^[\-+]?[0-9]+$</td>
 <td>Datatype xsd:integer { id: cca11813310353b51b7a4f11046ddeeb }</td>
</tr>
<tr>
 <td>0%</td>
 <td>324735053</td>
 <td>0</td>
 <td>Literal validation with Apache Jena literal parser </td>
 <td>GENERIC rdf:langString trigger { id: #GENERIC_LANG_LITERAL_TRIGGER }</td>
</tr>
<tr>
 <td>0%</td>
 <td>324735053</td>
 <td>0</td>
 <td>Literal language tag conformity to BCP47 (prevalence:= literals with lang tags)</td>
 <td>GENERIC rdf:langString trigger { id: #GENERIC_LANG_LITERAL_TRIGGER }</td>
</tr>
<tr>
 <td>0%</td>
 <td>201989245</td>
 <td>0</td>
 <td>Literal validation with Apache Jena literal parser </td>
 <td>GENERIC plain literal trigger { id: #GENERIC_PLAIN_LITERAL_TRIGGER }</td>
</tr>
<tr>
 <td>0%</td>
 <td>117838558</td>
 <td>0</td>
 <td>matching ^[+]?[0-9]+$</td>
 <td>Datatype xsd:nonNegativeInteger { id: 5481729ba13a895e638446dc1d7f0de0 }</td>
</tr>
<tr>
 <td>0%</td>
 <td>16317668</td>
 <td>0</td>
 <td>matching ^(\+|-)?([0-9]+(\.[0-9]*)?|\.[0-9]+)([Ee](\+|-)?[0-9]+)?|(\+|-)?INF|NaN$</td>
 <td>Datatype xsd:float { id: 2bdfa494a8ce3f20d85e33131c660960 }</td>
</tr>
<tr>
 <td>0%</td>
 <td>0</td>
 <td>0</td>
 <td>matching ^(\+|-)?([0-9]+(\.[0-9]*)?|\.[0-9]+)$</td>
 <td>Datatype xsd:decimal { id: 65fa4d67ad3b398b488dda63b27725ae }</td>
</tr>
<tr>
 <td>0%</td>
 <td>0</td>
 <td>0</td>
 <td>matching ^-?([1-9][0-9]{3,}|0[0-9]{3})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?$</td>
 <td>Datatype xsd:dateTime { id: 170a27325014af209b35aecdd1aa9d3a }</td>
</tr>
</tbody>
</table>
<br>
<h4>Custom Test Cases</h4>
<table border="0">
  <tr>
    <td class="font-weight-bold text-right">Total IRI count:</td>
    <td class="pl-4">12228978594</td>
  </tr>
  <tr>
    <td class="font-weight-bold text-right">Covered IRIs:</td>
    <td class="pl-4">10264000420</td>
  </tr>
  <tr>
  <td class="font-weight-bold text-right">Coverage:</td>
  <td class="pl-4">83.94% ( covered / total )</td>
  </tr>
  <tr>
  <td class="font-weight-bold text-right">Constructs with >=1 errors:</td>
  <td class="pl-4">15823204</td>
  </tr>
  <tr>
  <td class="font-weight-bold text-right">Error rate I:</td>
  <td class="pl-4">0.1542% ( erroneous constructs / total )</td>
  </tr>
  <tr>
  <td class="font-weight-bold text-right">Total errors:</td>
  <td class="pl-4">15826961</td>
  </tr>
  <tr>
  <td class="font-weight-bold text-right">Error rate II:</td>
  <td class="pl-4">0.1542% ( total errors / total constructs )</td>
  </tr>
</table>
<table
 data-toggle="table"
 data-search="true">
<thead>
<tr>
 <th data-sortable="true" data-field="errorrate">Error Rate</th>
 <th data-sortable="true" data-field="prevalence">Prevalence</th>
 <th data-sortable="true" data-field="errors">Errors</th>
 <th data-sortable="true" data-field="approach">Test Approach</th>
 <th data-sortable="true" data-field="trigger">Triggered From</th>
</tr>
</thead>
<tbody>
<tr>
 <td>23.40%</td>
 <td>67540451</td>
 <td>15797863</td>
 <td>does not contain ?</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0.02807%</td>
 <td>67540451</td>
 <td>18954</td>
 <td>does not contain #</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0.005252%</td>
 <td>67540451</td>
 <td>3547</td>
 <td>does not contain %28</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0.005252%</td>
 <td>67540451</td>
 <td>3547</td>
 <td>does not contain %29</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0.002985%</td>
 <td>67540451</td>
 <td>2016</td>
 <td>does not contain %27</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0.0009373%</td>
 <td>67540451</td>
 <td>633</td>
 <td>does not contain %26</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0.0004635%</td>
 <td>67540451</td>
 <td>313</td>
 <td>does not contain %2C</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0.00007996%</td>
 <td>67540451</td>
 <td>54</td>
 <td>does not contain %2B</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0.00001629%</td>
 <td>67540451</td>
 <td>11</td>
 <td>does not contain %3D</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0.00001481%</td>
 <td>67540451</td>
 <td>10</td>
 <td>does not contain %21</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0.000004086%</td>
 <td>24476503</td>
 <td>1</td>
 <td>one of vocab http://www.w3.org/2003/01/geo/wgs84_pos#</td>
 <td>whs84 trigger { id: http://dev.vocab.org/trigger/wgs84 }</td>
</tr>
<tr>
 <td>0.000002052%</td>
 <td>146222641</td>
 <td>3</td>
 <td>one of vocab http://www.w3.org/1999/02/22-rdf-syntax-ns#</td>
 <td>rdf trigger { id: http://dev.vocab.org/trigger/w3_rdf }</td>
</tr>
<tr>
 <td>0.000001751%</td>
 <td>57138569</td>
 <td>1</td>
 <td>one of vocab http://www.w3.org/2004/02/skos/core#</td>
 <td>skos trigger { id: http://dev.vocab.org/trigger/skos }</td>
</tr>
<tr>
 <td>0.000001079%</td>
 <td>370754618</td>
 <td>4</td>
 <td>one of vocab http://xmlns.com/foaf/0.1/</td>
 <td>foaf trigger { id: http://dev.vocab.org/trigger/foaf }</td>
</tr>
<tr>
 <td>0.00000001862%</td>
 <td>5371504308</td>
 <td>1</td>
 <td>does not contain %28</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0.00000001862%</td>
 <td>5371504308</td>
 <td>1</td>
 <td>does not contain %29</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0.00000001764%</td>
 <td>5669040799</td>
 <td>1</td>
 <td>does not contain %28</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0.00000001764%</td>
 <td>5669040799</td>
 <td>1</td>
 <td>does not contain %29</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain %27</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain %3B</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain %2C</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain [</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain %24</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain ?</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain %3D</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain %2A</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain #</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain ]</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain %21</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain %26</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain %2B</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain `</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain |</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain ^</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain \</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain  </td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain }</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain {</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain ></td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain <</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5669040799</td>
 <td>0</td>
 <td>does not contain "</td>
 <td>DBpedia IRIs from Wikipedia used in Mappings Extraction { id: http://dev.vocab.org/trigger/mappings_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain %27</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain %3B</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain %2C</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain [</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain %24</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain ?</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain %3D</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain %2A</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain #</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain ]</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain %21</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain %26</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain %2B</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain `</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain |</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain ^</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain \</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain  </td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain }</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain {</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain ></td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain <</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>5371504308</td>
 <td>0</td>
 <td>does not contain "</td>
 <td>DBpedia IRIs from Wikipedia used in Generic Extraction { id: http://dev.vocab.org/trigger/generic_wikipedia_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>1896027290</td>
 <td>0</td>
 <td>one of vocab https://raw.githubusercontent.com/dbpedia/ontology-tracker/master/databus/dbpedia/ontology/dbo-snapshots/dbo-snapshots.nt</td>
 <td>DBpedia Ontology IRIs { id: http://dev.vocab.org/trigger/dbpedia_ontology }</td>
</tr>
<tr>
 <td>0%</td>
 <td>1896027290</td>
 <td>0</td>
 <td>does not contain `</td>
 <td>DBpedia Ontology IRIs { id: http://dev.vocab.org/trigger/dbpedia_ontology }</td>
</tr>
<tr>
 <td>0%</td>
 <td>1896027290</td>
 <td>0</td>
 <td>does not contain |</td>
 <td>DBpedia Ontology IRIs { id: http://dev.vocab.org/trigger/dbpedia_ontology }</td>
</tr>
<tr>
 <td>0%</td>
 <td>1896027290</td>
 <td>0</td>
 <td>does not contain ^</td>
 <td>DBpedia Ontology IRIs { id: http://dev.vocab.org/trigger/dbpedia_ontology }</td>
</tr>
<tr>
 <td>0%</td>
 <td>1896027290</td>
 <td>0</td>
 <td>does not contain \</td>
 <td>DBpedia Ontology IRIs { id: http://dev.vocab.org/trigger/dbpedia_ontology }</td>
</tr>
<tr>
 <td>0%</td>
 <td>1896027290</td>
 <td>0</td>
 <td>does not contain  </td>
 <td>DBpedia Ontology IRIs { id: http://dev.vocab.org/trigger/dbpedia_ontology }</td>
</tr>
<tr>
 <td>0%</td>
 <td>1896027290</td>
 <td>0</td>
 <td>does not contain }</td>
 <td>DBpedia Ontology IRIs { id: http://dev.vocab.org/trigger/dbpedia_ontology }</td>
</tr>
<tr>
 <td>0%</td>
 <td>1896027290</td>
 <td>0</td>
 <td>does not contain {</td>
 <td>DBpedia Ontology IRIs { id: http://dev.vocab.org/trigger/dbpedia_ontology }</td>
</tr>
<tr>
 <td>0%</td>
 <td>1896027290</td>
 <td>0</td>
 <td>does not contain ></td>
 <td>DBpedia Ontology IRIs { id: http://dev.vocab.org/trigger/dbpedia_ontology }</td>
</tr>
<tr>
 <td>0%</td>
 <td>1896027290</td>
 <td>0</td>
 <td>does not contain <</td>
 <td>DBpedia Ontology IRIs { id: http://dev.vocab.org/trigger/dbpedia_ontology }</td>
</tr>
<tr>
 <td>0%</td>
 <td>1896027290</td>
 <td>0</td>
 <td>does not contain "</td>
 <td>DBpedia Ontology IRIs { id: http://dev.vocab.org/trigger/dbpedia_ontology }</td>
</tr>
<tr>
 <td>0%</td>
 <td>836314975</td>
 <td>0</td>
 <td>Missing validator: requires one ore more validators (always true)</td>
 <td>DBpedia Property IRIs { id: http://dev.vocab.org/trigger/dbpedia_property }</td>
</tr>
<tr>
 <td>0%</td>
 <td>132418848</td>
 <td>0</td>
 <td>one of vocab http://www.w3.org/2000/01/rdf-schema#</td>
 <td>rdfs trigger { id: http://dev.vocab.org/trigger/w3_rdfs }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain "</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain {</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain |</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain }</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain  </td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain \</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain ^</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain <</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain `</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain ></td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain %3B</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain [</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain %24</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain %2A</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain ]</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain `</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain |</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain ^</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain \</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain  </td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain }</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain {</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain ></td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain <</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>67540451</td>
 <td>0</td>
 <td>does not contain "</td>
 <td>wikipedia { id: http://dev.vocab.org/trigger/wikipedia }</td>
</tr>
<tr>
 <td>0%</td>
 <td>50612789</td>
 <td>0</td>
 <td>Missing validator: requires one ore more validators (always true)</td>
 <td>DBpedia IRIs from Wikidata extraction { id: http://dev.vocab.org/trigger/wikidata_dbpedia_extraction }</td>
</tr>
<tr>
 <td>0%</td>
 <td>50453020</td>
 <td>0</td>
 <td>matches pattern ^http://www.wikidata.org/entity/Q[0-9]+$</td>
 <td>Wikidata IRIs { id: http://dev.vocab.org/trigger/wikidata }</td>
</tr>
<tr>
 <td>0%</td>
 <td>8158834</td>
 <td>0</td>
 <td>one of vocab http://www.georss.org/georss/geo_2007.owl</td>
 <td>georss trigger { id: http://dev.vocab.org/trigger/georss }</td>
</tr>
<tr>
 <td>0%</td>
 <td>2</td>
 <td>0</td>
 <td>Missing validator: requires one ore more validators (always true)</td>
 <td>DBpedia Generic IRIs { id: d9abf1d07b73958af01daf24267d9ed7 }</td>
</tr>
<tr>
 <td>0%</td>
 <td>0</td>
 <td>0</td>
 <td>one of vocab http://www.w3.org/2005/11/its/rdf#</td>
 <td>itsrdf trigger { id: http://dev.vocab.org/trigger/itsrdf }</td>
</tr>
<tr>
 <td>0%</td>
 <td>0</td>
 <td>0</td>
 <td>Missing validator: requires one ore more validators (always true)</td>
 <td>nif vocab trigger { id: http://dev.vocab.org/trigger/nif }</td>
</tr>
<tr>
 <td>0%</td>
 <td>0</td>
 <td>0</td>
 <td>Missing validator: requires one ore more validators (always true)</td>
 <td>DBpedia NIF IRIs { id: http://dev.vocab.org/trigger/dbpedia_nif }</td>
</tr>
</tbody>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<style> .float-right { float: left !important; } </style>
<body>