{% extends "index.html" %} {% block content %}

<div class="container">
    <h1>The DBpedia Archivo Ontology</h1>
    <p>The Archivo Ontology lays the foundation for managing ontologies (and their metadata) on the DBpedia Databus.</p>
    <br>
    <h2>Classes</h2>
    <div class="card">
        <div class="card-body">
            <h3><a href="/onto#Ontology">Archivo Ontology</a></h3>
            <p class="lead">Everything that is considered an ontology by the DBpedia Archivo system (currently
                owl:Ontology
                and
                skos:ConceptScheme).</p>
        </div>
    </div>
    <br>
    <h2>Properties</h2>
    <div class="card">
        <div class="card-body">
            <h3><a
                href="/onto#trackThis">Archivo Track This</a></h3>
            <p class="lead">This property links to the develop version (e.g on github) of an ontology.</p>
            <p>This property can be used to link an ontology to the actively developed RDF file resembling the ontology, for example on github.</p>
            <ul>
                <li><b>type</b>: owl:ObjectProperty</li>
                <li><b>domain</b>: archivo:Ontology</li>
                <li><b>range</b>: rdfs:Resource</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3><a
                href="/onto#defines">Archivo Defines</a></h3>
            <p class="lead">This property links a given resource to one that it defines.</p>
            <p>This property is the inverse of rdfs:isDefinedBy and can, for example, be used to link a ontology to the classes and properties it defines.</p>
            <ul>
                <li><b>type</b>: owl:ObjectProperty</li>
                <li><b>domain</b>: rdfs:Resource</li>
                <li><b>range</b>: rdfs:Resource</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}