[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rdflib = "==6.0.2"
pyshacl = "*"
sparqlwrapper = "*"
gunicorn = "*"
requests = "*"
plotly = "*"
flask = "*"
flask-wtf = "*"
wtforms = "*"
markdown = "*"
flask-accept = "*"
apscheduler = "*"
flask-sqlalchemy = "*"
aiohttp = "*"
flask-cors = "*"
pyyaml = "*"

[dev-packages]
flake8 = "*"
progressbar = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
